body {
	background: #911;
        color: #111;
	border: 0;
	margin: 0;
	padding: 0;
        font-family: "Bitstream Charter", Georgia, serif;
}

div#rap { 
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        background: #fff;
        border-right: 1px black dashed;
        border-left: 1px black dashed;
}

#header, #header h1, #header h2 {
	background: #333;
	font-family: "Bitstream Vera Sans", Verdana, sans-serif;
	margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
        padding: 6px;
        text-align: center;
}

a {
	color: #33a;
}

a img {
	border: none;
}

a:visited {
	color: #339;
}

a:hover {
	color: #88f;
}

blockquote {
	border-left: 5px solid #ccc;
	margin-left: 1.5em;
	padding-left: 5px;
}

h2.storytitle {
	border-bottom: 1px dotted #ccc;
	font: 20px "Bitstream Vera Sans", Verdana, sans-serif;
        font-weight: 600;
	margin: 15px 0 2px 0;
	padding-bottom: 2px;
}

h3.meta, h3.meta a, h3.meta a:visited {
        color: #999;
        font: 12px "Bitstream Charter", Georgia, serif;
	margin: 2px 0 6px 0;
	padding-bottom: 2px;
}

#navbar {
	border-bottom: 1px black dotted;
        font: 12px "Bitstream Charter", Georgia, serif;
        background: #333;
        padding: 0;
        margin: 0;
        text-align: center;
        width: 100%;
}

#header a, #header a:visited { 
        color: #fff;
        text-decoration: none;                              
}
#navbar a, #navbar a:visited {
        color: #999;
        text-decoration: none;
}
#header a:active, #header a:hover, #navbar a:active, #navbar a:hover {
        background-color: #99f;
        color: #333;
        text-decoration: none;
}

#menu {
	background: #fff;
	color: #999;
        margin-left: 20px;
        margin-top: 0;
        margin-right: -3em;
        margin-bottom: 20px;
	border: dashed 1px black;
        border-right: 0;
	padding: 10px 0 10px 10px;
        float: right;
	width: 11em;
}

#menu form {
	margin: 0 0 0 13px;
}

#menu input#s {
	width: 80%;
	background: #eee;
	border: 1px solid #999;
	color: #000;
}

#menu ul {
	list-style-type: none;
	margin: 0;
	padding-left: 3px;
	text-transform: lowercase;
	font: normal smaller "Bitstream Vera Sans", Verdana, sans-serif;
}

#menu h2 {
	font: italic smaller "Bitstream Vera Sans", Verdana, sans-serif;
	font-weight: bold;
	margin-top: 10px;
        margin-bottom: 0px;
	padding-bottom: 2px; /*border-bottom: dotted 1px #ccc;*/
}

#menu ul ul {
	font-variant: normal;
	font-weight: normal;
	line-height: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: left;
}

#menu ul ul li {
	border: 0;
	font-weight: normal;
        font-style: normal;
	letter-spacing: 0;
	margin-top: 0;
	padding: 0;
	padding-left: 12px;
}

#menu ul a {
	color: #999;
	text-decoration: none;
}

#menu ul a:visited {
	color: #ccc;
	text-decoration: none;
}

#menu ul a:hover {
	color: #000;
	border-bottom: 1px solid #809080;
}

div#tag-cloud a {
    text-decoration: none;
}
div#tag-cloud {
    line-height: 145%; 
    text-align: center;
    padding-bottom: 2em;
}


#comments-header { 
        margin-top: 2em;
        padding-top: 1em;
        border-top: 2px black solid;
}

#content {
	margin: 30px 3em 0 3em;
}

#footer {
	border-top: 1px black dotted;
        font: 12px "Bitstream Charter", Georgia, serif;
        padding: 0;
        margin: 0;
        text-align: center;
        width: 100%;
}

.storytitle {
	margin: 0;
}

.storytitle a {
	text-decoration: none;
}

.storycontent {
        line-height: 145%;
        font-size: 105%;
}

.post { 
        margin-bottom: 2em;
}

div.description { 
  margin-left: 18pt;
  margin-right: 18pt;
  margin-bottom: 18pt;
}

div.description > p, div.description > pre {
  margin-top: 6pt;
}

div.feedback a {
  text-decoration: none;
  color: #ccc;
}

.float-left { 
  float: left;
  margin-right: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#content .right { 
  margin-left: auto;
  text-align: right;
}

.centered { 
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.smaller { 
  font-size: smaller;
}

div.cartouche { 
  border: dashed 1px black;
  padding: 0.5em;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
}

.small-caps { 
  font-variant: small-caps;
}

#commentform textarea {
	width: 100%;
	padding: 2px;
	}
