html,body {
    height: 100%;
    width: 100%;
    background: #202020;
    display:table;
    overflow: hidden;
}

p {
    font-size: 2em;
}

.contain {

    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 3em;
}

#quote {
    color: white;
    font-family: Iconsolata;
    position: relative;
}

.fade {
    opacity: 0 !important;
}

.executed {
    opacity: 1;
    right: 0;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}

.reset {
    opacity: 0;
    right: 600;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 2s ease-in-out;
}

.bottom {
    bottom: 10;
    position: absolute;
    color: #454545;
    font-family: Iconsolata;
}
